.success{
    color:green;
    text-align: center;
    animation: animate 1.5s linear infinite;
}

h4,h3{
    text-align: center;
}

h3{
    color:rgb(105, 105, 255);
}

Form{
    background-color: #f2f2f2;
    padding:20px;
}

